				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2><p>Schreibe uns eine Nachricht</span></h2></p>
                        <div class="index align-left">

                            <!-- Form -->
                                <section>
                                    <header>
                                    </header>
                                    <div class="content">


                                        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xoqznyqb" method="post">
                                          <fieldset id="fs-frm-inputs">
                                            <label for="full-name">Name</label>
                                            <input type="text" name="name" id="full-name" placeholder="Vor und Nachname" required="">
                                            <label for="email-address">Email</label>
                                            <input type="email" name="_replyto" id="email-address" placeholder="email@domain.de" required="">
                                            <label for="message">Nachricht</label>
                                            <textarea rows="5" name="message" id="message" placeholder="Ihre Nachricht" required=""></textarea>
                                            <input type="hidden" name="_subject" id="email-subject" value="EMail von gartenbauzm.de">
                                          </fieldset>
                                          <input type="submit" value="Senden">
                                        </form>
                                        

                                    </div>
                                </section>
